In [1]:
import pandas as pd

In [2]:
import sys
sys.path.append('..')

In [3]:
from utils.text_preprocessing import remove_extra_whites

In [4]:
pd.set_option('max_colwidth', 500)

## Polarity

In [4]:
df = pd.read_csv('../data/simonve_data.csv', sep=';', usecols=['comment_id', 'text', 'polarity'])

In [5]:
df.head()

,comment_id,text,polarity
0,38768,donde lo compra a ese precio???? ..... le estan viendo la cara.,10
1,41962,"David Foronda (Podemos): “A favor de regular los transgénicos, hay que tener en cuenta la soberanía alimentar... https://t.co/9dhQHZNfXn",-1
2,46156,"RT @segbruce: 21% la aprueba, 73% la rechaza. Así como va, Michelle Bachelet desaparecerá de las encuestas, ya no la apoyan ni sus votante…",-1
3,52072,RT @rpl2010: #CUIDATUDINEROMV #LANUEVAMAYORÍA O #LAVIEJAPILLERÍA #AFP #INJUSTAS EDUARDO #FREI RICARDO #LAGOS Y MICHELLE #BACHELET https://t…,-1
4,40533,"RT @Chevige: Ricardo Lagos el mismo que utilizó la LEY ANTITERRORISTA DE PINOCHET para reprimir, aplaude a Almagro #NuevaMayoria https://t.…",-1

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43527 entries, 0 to 43526
Data columns (total 3 columns):
comment_id    43527 non-null int64
text          43522 non-null object
polarity      43527 non-null int64
dtypes: int64(2), object(1)
memory usage: 1020.2+ KB

In [7]:
classifications_by_comment = df.groupby(['comment_id'])['comment_id'].agg(['count'])
classifications_by_comment.head()

            count
comment_id
34624           4
34693           3
34772           3
34863           3
35030           3

In [8]:
df = df[df.apply(lambda r: classifications_by_comment.loc[r['comment_id']]['count'] > 1, axis=1)]

In [9]:
df = df.groupby(['comment_id', 'text'])[['polarity']].agg(pd.Series.mode)

In [10]:
df = df.reset_index()

In [11]:
df.drop(columns=['comment_id'], inplace=True)

In [12]:
df.head()

,text,polarity
0,Abogado de Michelle Bachelet otorgó asesoría jurídica a mujer que realizó la denuncia. https://t.co/lV5gnWcfmm,1
1,RT @Alitop_: Faltan 635 dias para que se acabe esta pesadilla llamada Michelle Bachelet #CuentaRegresiva #ChaoBachelet,-1
2,Michelle Bachelet está trotando para estar en forma. Michelle Bachelet está tratando de aprobar sus reformas chavo!! https://t.co/0QAX2Hu2Gh,0
3,"RT @ElLibido: 2/15 Hace pocos días, los “amigos” de @derechatuitera masificaron imagen, sobre supuesto vino de Michelle Bachelet. https://t…",-1
4,"Alcalde de Pozo Almonte, José Fernando Muñoz junto a la Presidenta, Michelle Bachelet e Intendenta de Tarapacá. https://t.co/v1IxZ4D3aG",0

In [13]:
df.count()

text        13711
polarity    13711
dtype: int64

In [14]:
df = df[df.apply(lambda r: type(r['polarity']) != pd.np.ndarray, axis=1)]

In [15]:
df.count()

text        12685
polarity    12685
dtype: int64

In [16]:
df.groupby(['polarity']).count()

          text
polarity
-1        5485
 0        4647
 1        2497
 10         56

In [17]:
df = df[~(df.polarity == 10)]

In [18]:
df.count()

text        12629
polarity    12629
dtype: int64

In [25]:
df['text'] = df['text'].map(remove_extra_whites)

In [26]:
df = df[~(df.text == "")]
df.count()

text        12627
polarity    12627
dtype: int64

In [27]:
df.to_csv('../data/polarity.csv', index=False, sep=";")

## Sentiment

In [5]:
df = pd.read_csv('../data/simonve_data.csv', sep=';', usecols=['comment_id', 'text', 'emotion'])

In [6]:
df.head()

,comment_id,text,emotion
0,38768,donde lo compra a ese precio???? ..... le estan viendo la cara.,10
1,41962,"David Foronda (Podemos): “A favor de regular los transgénicos, hay que tener en cuenta la soberanía alimentar... https://t.co/9dhQHZNfXn",5
2,46156,"RT @segbruce: 21% la aprueba, 73% la rechaza. Así como va, Michelle Bachelet desaparecerá de las encuestas, ya no la apoyan ni sus votante…",0
3,52072,RT @rpl2010: #CUIDATUDINEROMV #LANUEVAMAYORÍA O #LAVIEJAPILLERÍA #AFP #INJUSTAS EDUARDO #FREI RICARDO #LAGOS Y MICHELLE #BACHELET https://t…,5
4,40533,"RT @Chevige: Ricardo Lagos el mismo que utilizó la LEY ANTITERRORISTA DE PINOCHET para reprimir, aplaude a Almagro #NuevaMayoria https://t.…",3

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43527 entries, 0 to 43526
Data columns (total 3 columns):
comment_id    43527 non-null int64
text          43522 non-null object
emotion       43527 non-null int64
dtypes: int64(2), object(1)
memory usage: 1020.2+ KB

In [8]:
classifications_by_comment = df.groupby(['comment_id'])['comment_id'].agg(['count'])
classifications_by_comment.head()

            count
comment_id
34624           4
34693           3
34772           3
34863           3
35030           3

In [9]:
df = df[df.apply(lambda r: classifications_by_comment.loc[r['comment_id']]['count'] > 1, axis=1)]

In [10]:
df = df.groupby(['comment_id', 'text'])[['emotion']].agg(pd.Series.mode)

In [11]:
df = df.reset_index()

In [12]:
df.drop(columns=['comment_id'], inplace=True)

In [13]:
df.head()

,text,emotion
0,Abogado de Michelle Bachelet otorgó asesoría jurídica a mujer que realizó la denuncia. https://t.co/lV5gnWcfmm,4
1,RT @Alitop_: Faltan 635 dias para que se acabe esta pesadilla llamada Michelle Bachelet #CuentaRegresiva #ChaoBachelet,5
2,Michelle Bachelet está trotando para estar en forma. Michelle Bachelet está tratando de aprobar sus reformas chavo!! https://t.co/0QAX2Hu2Gh,"[0, 5, 10]"
3,"RT @ElLibido: 2/15 Hace pocos días, los “amigos” de @derechatuitera masificaron imagen, sobre supuesto vino de Michelle Bachelet. https://t…","[3, 5, 10]"
4,"Alcalde de Pozo Almonte, José Fernando Muñoz junto a la Presidenta, Michelle Bachelet e Intendenta de Tarapacá. https://t.co/v1IxZ4D3aG",4

In [14]:
df.count()

text       13711
emotion    13711
dtype: int64

In [15]:
df = df[df.apply(lambda r: type(r['emotion']) != pd.np.ndarray, axis=1)]

In [16]:
df.count()

text       11343
emotion    11343
dtype: int64

In [17]:
df.groupby(['emotion']).count()

         text
emotion
0        2557
1         356
2         147
3        1338
4        3253
5        3420
10        272

In [18]:
df['text'] = df['text'].map(remove_extra_whites)

In [19]:
df = df[~(df.text == "")]
df.count()

text       11342
emotion    11342
dtype: int64

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11342 entries, 0 to 13709
Data columns (total 2 columns):
text       11342 non-null object
emotion    11342 non-null object
dtypes: object(2)
memory usage: 265.8+ KB

In [21]:
df.to_csv('../data/emotion.csv', index=False, sep=";")